body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4; /* Color de fondo */
}

.card {
    background-color: #ffffff; /* Color de fondo de la tarjeta */
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    text-align: center;
}

.bienvenida {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.boton-registro {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #3498db; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s ease, transform 0.2s ease, box-shadow 0.3s ease;
}

.boton-registro:hover {
    background-color: #2980b9; /* Cambia el color de fondo al pasar el mouse */
    transform: scale(1.05); /* Efecto de escala al pasar el mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Aumenta la sombra al pasar el mouse */
}
